<div class="border rounded">
  <ul class="nav nav-tabs">
    <li *ngFor="let type of transactionTypesList; index as i" class="nav-item">
      <a
        class="nav-link rounded-top rounded-3"
        [routerLink]="['/navigator']" [queryParams]="{tab:i}" routerLinkActive="active"
        aria-current="page">
        {{type}}
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-around align-items-center">
        <div class="fw-bold">
          Name
        </div>
        <div class="fw-bold">
          Amount
        </div>
      </li>
      <li *ngFor="let transaction of $transactionsList | async"
          class="list-group-item d-flex justify-content-around align-items-center">
        <div>
          {{transaction.name.first}} {{transaction.name.last}}
        </div>
        <div>
          {{transaction.amount}}
        </div>
      </li>
    </ol>
  </div>
</div>
