<div class="border rounded">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link rounded-top rounded-3"
        [routerLink]="['/navigator']" [queryParams]="{tab:0}" routerLinkActive="active"
        (click)="setTransactionType('income')"
        aria-current="page">
        income
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-top rounded-3"
         [routerLink]="['/navigator']" [queryParams]="{tab:1}"
         (click)="setTransactionType('outcome')"
         routerLinkActive="active">outcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-top rounded-3"
         [routerLink]="['/navigator']" [queryParams]="{tab:2}"
         (click)="setTransactionType('loan')"
         routerLinkActive="active">loan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-top rounded-3"
         [routerLink]="['/navigator']" [queryParams]="{tab:3}"
         (click)="setTransactionType('investment')"
         routerLinkActive="active">investment</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-around align-items-center">
        <div class="fw-bold">
          Name
        </div>
        <div class="fw-bold">
          Amount
        </div>
      </li>
      <li *ngFor="let transaction of $transactionsList | async"
          class="list-group-item d-flex justify-content-around align-items-center">
        <div>
          {{transaction.name.first}} {{transaction.name.last}}
        </div>
        <div>
          {{transaction.amount}}
        </div>
      </li>
    </ol>
  </div>
</div>
