<div class="border rounded">
  <ul class="nav nav-tabs">
    <li *ngFor="let type of transactionTypesList; index as i" class="nav-item">
      <a
        class="nav-link rounded-top rounded-3"
        [routerLink]="['/navigator']" [queryParams]="{tab:i}" routerLinkActive="active"
        aria-current="page">
        {{type | titlecase}}
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col d-flex justify-content-center">
          <div><h5>Name</h5></div>
        </div>
        <div class="col d-flex justify-content-center">
          <div><h5>Amount</h5></div>
        </div>
      </li>
      <li *ngFor="let transaction of $transactionsList | async"
          class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col d-flex justify-content-center">
          <div>{{transaction.name | fullName}}</div>
        </div>
        <div class="col d-flex justify-content-center">
          <div>{{transaction.amount}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
